body {
  background-color: #77a822;
}
.App {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.checked {
  text-decoration: line-through;
}

span:last-child {
  color: red;
  cursor: pointer;
}
.TodoListContainer {
  display: flex;
}
.TodoListBlockTodo {
  width: 300px;
  background-color: #294813;
  border-radius: 14px;
}
.TodoListBlockCompleted {
  width: 300px;
}
.TodoListBlockCart {
}
.css-3su884-MuiPaper-root {
  width: 300px;
  min-height: 450px;
  background-color: #c6d166 !important;
  margin: 20px;
}
.TodoItemBlock {
  margin: 6px;
  margin-bottom: 0;
}
.addTodoBlock {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AddToPhotosIcon {
  margin: 10px;
}
